<!DOCTYPE html>
<html>
<head>
  <title>Properti</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
  	.form-group
  	{
  		margin-right: 15px
  	}

  	.nav{
  		background-color: red;
  	}

  	.nav li a{
  		color: white;
  	}
  </style>
</head>
<body>

	<ul class="nav nav-tabs">
	  <li role="presentation"><%= link_to 'Home', root_url %></li>
	  <li role="presentation"><a href="#">Dijual</a></li>
	  <li role="presentation"><a href="#">Disewa</a></li>
	  <li role="presentation"><a href="#">Cari Agen</a></li>
	  <li role="presentation"><a href="#">Blog</a></li>
	  <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="Cari" class="btn btn-default">Submit</button>
        </div>
        
      </form>
	</ul>

<%= yield %>

</body>
</html>
